.holder {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 790px;
}

.flash-alert {
  padding: 12px 24px;
  background: rgb(255, 204, 106);
  color: red;
  font-weight: bold;
}

.button-error {
  background: rgb(202, 60, 60);
  color: #fff;
  margin-left: 10px;
}

.das-nakama {
  color: #ff9231;
}

.dashboard-wrap {
  margin: 0 -25px;
}

.dashboard-wrap > div {
  display: inline-block;
  margin: 20px 25px;
}

.pure-button-error {
  background: rgb(202, 60, 60);
  color: #fff;
}
