.table-wrap-report {
  tr {
    text-align: left;
  }
  tfoot {
    border-top: 1px solid #cbcbcb;
  }
}
.report-filter {
  margin-bottom: 24px;
}
.report-filter .pure-button {
  margin-top: 24px;
}
.pure-table-responsive-wrap {
  margin-bottom: 20px;
  max-width: 100%;
  overflow-x: auto;
}
.holder-full-width {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
.inactive-worktimer {
  color: #707070;
  .das-nakama {
    color: #707070;
  }
}
.active-worktimer {
  color: #000;
  & + .active-worktimer { margin-top: 6px; }
}
.summury-report-wrap {
  margin: 40px 0;
}
.summury-report-item {
  display: inline-block;
  margin-right: 25px;
}

.report-sums-by-nakamas {
  margin: 20px 0 24px;
  .report-nakama-sum {
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
  }
}
